body{
    font-size: 62.5%;
}
#new_div{
    display: inline-block;
    margin-right: 1em;
    margin-top: 0.6em;
    background-color: pink;
    color: #000000;
    width: 5em;
    height: 5em;
    text-align: center;
    line-height: 5em;
    font-weight: bold;
}
#checked{
    background-color: red;
}